.container {
    display: grid;
    padding: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.3fr 1.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "indicadora indicadorb indicadorc"
    "grafico grafico top"
    "tabla tabla grafico2";
}

.grafico {
    grid-area: grafico;
    background-color: #ff0000; /* Color de fondo para la clase grafico */
}

.indicadora {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: indicadora;
    background-color: #00ff00; /* Color de fondo para la clase indicadora */
}

.indicadorb {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: indicadorb;
    background-color: #0000ff; /* Color de fondo para la clase indicadorb */
}

.indicadorc {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: indicadorc;
    background-color: #ffff00; /* Color de fondo para la clase indicadorc */
}

.top {
    grid-area: top;
    background-color: #ff00ff; /* Color de fondo para la clase top */
}

.tabla {
    grid-area: tabla;
    background-color: #00ffff; /* Color de fondo para la clase tabla */
}

.grafico2 {
    grid-area: grafico2;
    background-color: #ff9900; /* Color de fondo para la clase grafico2 */
}
